.log-in{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{

    padding: 20px;
    background-color: rgb(37, 37, 60);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    height: fit-content;
}